body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
img {
    border-radius: 10px;
}
.top { 
    background-color: #1F2937;
    padding: 15px 120px;
}
.nav-container {
    display: flex;
    align-items: center;
    margin: 10px 15px;
}
.nav-container a {
    flex: 1;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.nav-container a:hover {
    background-color: rgb(32, 30, 30);
}
.nav-container .header {
    flex: 7;
    text-align: left;
    color: #F9FAF8;
    font-size: 24px;
}
.hero {
    display: flex;
    margin: 100px 15px;
}
.hero .hero-main-text {
    font-size: 48px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: bolder;
    color: #F9FAF8;
    text-align: left;
}
.hero .hero-secondary-text {
    text-align: left;
    font-size: 18px;
    color: #E5E7EB;
}
.hero .box {
    flex: 1;
    text-align: center;
}
.hero button {
    background-color: #3882F6;
    padding: 10px 35px;
    border-radius: 10px;
    color: white;
    border: none;
}
.hero button:hover {
    cursor: pointer;
    background-color: #2460c0;
}
/* INFORMATION DIV */
.information {
    margin: 100px 250px;
}
.info-flex {
    display: flex;
    margin-top: 30px;
}
.info-flex img {
    height: auto;
    width: 100%;
}
.information .item {
    flex: 1;
    text-align: center;
}
.information header {
    font-weight: bolder;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}
/* Quote Div */
.quote {
    background-color: #E5E7EB;
    padding: 100px 0;
}
.quote .quote-flex {
    display: flex;
    flex-direction: column;
    margin: 0 250px;
}
.quote .quote-flex .quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}
.quote .quote-flex .item {
    flex: 1;
}
.quote .quote-flex .item.citation {
    align-self: flex-end;
    font-weight: bold;
}
/* Call To Action Div */
.call-to-action {
    display: flex;
    align-items: center;
    margin: 100px 250px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}
.call-to-action .item {
    padding: 30px;
    flex: 1;
}
.call-to-action .item.text {
    flex: 4;
}
.call-to-action .item header {
    font-size: 24px;
    font-weight: bold;
}
.call-to-action .item.text p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.call-to-action .item button {
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    background: transparent;
    border: 2px solid white;
}
.call-to-action .item button:hover {
    cursor: pointer;
    background-color: #2460c0;
}
/* Footer Div */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
.footer .item {
    padding: 30px;
    color: white;
}
/* About Page */
.about,.contact {
    background-color: #e8e8e8;
    min-height: 100vh;
    margin: 0;
}
.about .flex {
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
}
.about .flex .item {
    font-size: 20px;
}
.about .flex .item.title {
    font-size: 50px;
    font-weight: bolder;
}
.about button {
    margin-left: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}
.about a {
    text-decoration: none;
    color: black;
}
.about button:hover {
    background-color: #cac5c5;
    cursor: pointer;
}
/* Contact Page */
.contact .content {
    padding: 100px;
}
.contact button {
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}
.contact a {
    text-decoration: none;
    color: black;
}
.contact button:hover {
    background-color: #cac5c5;
    cursor: pointer;
}